body {
    margin: 0;
    max-width: 900px;
    height: 27.94cm;
    width: 21.59cm;
}

.srkl {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    background-color: #fff;
    width: 100%;
}

header{
    height: 160px;
    width: 21.59cm;
    padding-top: 10px;
    color: white;
    background-color: #333;
}

.photo{
    margin: 1% 0 0 3%;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
}

.des{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 44%;
    top: -95%;
    left: 24%;
}

h3{
    color: #0fb6ad;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 1.3em;
    margin: 0.5% 0 0 0;
}

.post{
    color: orange;
    font-weight: bold;
    letter-spacing: .14rem;
    font-size: 1.3em;
}

.right{
    margin: 5px;
    padding: 0;
    position: relative;
    top: -177%;
    right: -68%;
    width: 29%;
}
.right p{
    letter-spacing: .1rem;
    position: relative;
    left: 8%;
}
.info{
    width: 20px;
    height: 20px;
}
.section-left{
    background-color: #13c3ba;
    float: left;
    width: 7.1cm;
    height: 26.4cm;
    color: black;
}
.section-right{
    background-color: white;
    float: left;
    width: 14.49cm;
    height: 26.4cm;
    font-size: 0.8em;
}
.section-left h4{
    margin-left: 10%;
    color: orange;
    letter-spacing: .1rem;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.section-right h4{
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0fb6ad;
    letter-spacing: .1rem;
    font-size: 18px;
}
h4{
    text-shadow: 2px 0px 0px black;  
}
.section-left hr.light{
    border-top: 2px solid orange;
    width: 90%;
    margin-top: 0.8rem;
    margin-bottom: 0.1rem;
}
.section-right hr.light{
    border-top: 2px solid #0fb6ad;
    width: 90%;
    margin-top: 0.8rem;
    margin-bottom: 0.1rem;
}
.titrehaut{
    margin-top: 40px;
}

.atouts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5% 0 10%;
    width: 90%;
    font-size: 1em;
}
.atouts_titre{
    width: 80%;
}
.details{
    margin-right: 10%;
}
.formation{
    margin: 0 5% 0 10%;
    width: 100%;
    font-size: 0.95em;
}
.formation p{
    width: 135%;
    margin: 10px 0 0 0;
    font-size: 0.8em;
}
.formation p b{
    font-size: 1.2em;
}
.projet {
    margin: 0 5% 0 10%;
    width: 92%;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr; /* two columns with equal width */
    grid-gap: 1%;
    grid-column: 1; /* move the others to the first column */
}

.annee {
    grid-column: 2; /* move the year to the second column */
}

.experience p{
    width: 100%;
    margin: 10px 0 0 55px;
    font-size: 0.8em;
}
.experience p b{
    font-size: 1.2em;
}


.skils{
    padding: 0;
    width: 85%;
    margin-left: 8%;
    margin-bottom: 35px;
    font-size: 0.9em;
}
.cool{
    background-color: #fff;
    border: 2px solid #ccc;
    width: 200px;
    height: 7px;
}
.po{
    margin-top: 20px;
}
strong{
    color: #13c3ba;
    text-decoration: none;
}
.inner{
    height: 100%;
    background-color: orange;
}
.inner-langue{
    height: 100%;
    background-color: rgba(163, 159, 159, 0.553);
}
.reseau{
    margin-left: 7%;
    margin-bottom: 35px;
}
.interet{
    margin-left: 7%;
    margin-bottom: 35px;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

a{
    margin-left: 10%;
    color: black;
}
.interet p{
    margin-top: 0;
}
.experience img{
    margin: 2% 0 0 10%;
    height: 55px;
    width: auto;
}
span{
    font-style: italic;
}
.annee{
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lien{
    height: 10%;
    width: 100%;
}
.reseau a{
    font-size: 0.8em;
}
.fa-brands, .fab {
    font-weight: 400;
    width: 0%;
}
.github{
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9em;
    margin-top: 18%;
}
.projet_titre{
    padding-top: 25px;
}
.experience_titre{
    padding-top: 25px;
}